
 
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
}

.form label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}

.form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  border: none;
  margin-bottom: 15px;
  padding: 0;
}

legend {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.form input[type="radio"] {
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}



label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.timer-butt {
  background-color: #1e90ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.timer-butt:hover {
  background-color: #1c86ee;
}

/* Notification Styles */
.notification {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
}

.success {
  background-color: #4CAF50;
}

.error {
  background-color: #f44336;
}

.caution {
  background-color: #ff9800;
}

.informing {
  background-color: #2196F3;
}

/* State Styles */
.state {
  margin-bottom: 20px;
}

.state label {
  margin-right: 10px;
}

.state input[type="radio"] {
  margin-right: 5px;
}

/* Date Picker Styles */
.date-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-picker input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.date-picker .timer-butt {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.date-picker .timer-butt:hover {
  background-color: #45a049;
}

/* Error Message */
.error-message {
  color: #f44336;
  font-weight: bold;
  margin-bottom: 20px;
}